.App {
  width: 80vw;
  height: 80vh;
  margin: auto;
}
.card {
  width: 20vw;
  height: 40vh;
  border-color: black;
  padding: 15px;
  font-size: 1.5vw;
}
.cardwrapper {
  display: flex;
  flex-wrap: wrap;
}
.spacebetween {
  display: flex;
  justify-content: space-between;
}
