@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@800&display=swap");

.App {
  width: 50vw;
  margin: auto;
}
.bottomwrapper {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  justify-content: space-between;
}
.card {
  width: 13vw;
  height: 13vw;
  border-color: black;
  font-size: 1vw;
  padding: 10px;
}
.cardimg {
  width: 7vw;
  height: 7vw;
  margin-top: 0;
  margin: auto;
}
.cardwrapper {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  height: 15vw;
  justify-content: space-between;
}
.input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.inputbutton {
  height: 5vh;
  width: 10vw;
}

.logo {
  margin: auto;
  font-size: 5vw;
  font-family: "Sansita Swashed", cursive;
  color: #779ecb;
}
.spacebetween {
  display: flex;
  justify-content: space-between;
}
.tableimg {
  height: 3vh;
  width: 3vh;
}
.textinput {
  height: 5vh;
  width: 35vw;
}
.todaysweather {
  font-size: 2vw;
}
.weathertable {
  width: 20vw;
  height: 28vw;
  overflow-y: scroll;
}
