@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@800&display=swap");

.App {
  width: 50vw;
  margin: auto;
  margin-top: 1vh;
}
.bottomwrapper {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  justify-content: space-between;
}
.card {
  width: 13vw;
  height: 13vw;
  border-color: black;
  padding: 15px;
  font-size: 1vw;
}
.cardimg {
  width: 10vw;
  height: 10vw;
  margin: auto;
}
.cardwrapper {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  height: 15vw;
  justify-content: space-between;
}
.textinput {
  width: 10vw;
}
.logo {
  margin: auto;
  font-size: 5vw;
  font-family: "Sansita Swashed", cursive;
  color: #779ecb;
}
.spacebetween {
  display: flex;
  justify-content: space-between;
}
.weathertable {
  width: 20vw;
}
